# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
* @jalcantarab

# Order is important; the last matching pattern takes the most
# precedence.

# Core components
/components/ @jalcantarab
/lib/ @jalcantarab

# Documentation
/docs/ @jalcantarab
*.md @jalcantarab
